basic/testing/proyectos_privados.code-workspace
basic/concept.py
plp/load_txt.py
plp/main.py
plp/plp_dict.py
plp/test.txt
test/
plp/__pycache__/load_txt.cpython-311.pyc
plp/__pycache__/plp_dict.cpython-311.pyc
pruebas-workspace.code-workspace
basic/concept.py
test/main.py
test/__pycache__/a.cpython-311.pyc
test/__pycache__/b.cpython-311.pyc
test/model/Ingredient.py
test/model/Model.py
test/model/__pycache__/Ingredient.cpython-311.pyc
test/model/__pycache__/Model.cpython-311.pyc
basic/concept.py
basic/concept.py
test/concept.py
test/model/Process.py
